#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

.card {
      opacity: .9;
      font-family: 'Montserrat', sans-serif;
  }

#top-card {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black;
    opacity: .6;
}

#btn {
    color: black;
}

.text-center {
    color: white;
}